@model IEnumerable<DuAnQLNCKH.Models.TopicOfStudent>

@{
    ViewBag.Title = "chuaduyet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    
    <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Price</th>
        <th>ISBN</th>
        <th>Title</th>
        <th>Price</th>

    </tr>
    <tr>
        <td >80px</td>
        <td >80xp</td>
        <td >150px</td>
        <td width="300px">Auto</td>
        <td >Auto</td>
        <td>200px</td>
    </tr>
</table>
