<!-- Main Content -->

<div id="content" style="width:220px; float: left">
    <!-- Sidebar -->
    <ul style="width: 300px; border-right: solid 3px blue" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <li class="nav-item">
            <a  class="nav-link" href="@Url.Action("Index", "TopicOfStudent")">
                <i style="color:blue; font-size:23px" class="far fa-chart-bar" aria-hidden="true"></i>
                <span style="font-weight:bold">Danh mục đề tài sinh viên</span>
            </a>
        </li>
        <li class="nav-item">
            <a  class="nav-link" href="@Url.Action("viewRegister", "TopicOfStudent")">
                <i style="color:blue; font-size:23px" class="fas fa-pen-fancy"></i>
                <span style="font-weight:bold">Đăng ký đề tài sinh viên</span>
            </a>
        </li>

    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <!-- End of Content Wrapper -->


</div>
 
