@model DuAnQLNCKH.Models.Account

@{
    Layout = null;
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Login</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">
    <center> 
    <div class="container" style="width:540px">

        <!-- Outer Row -->
        <div class="row">

            <div class="col-md-10 col-md-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div style="width:500px">
                                <img style="margin-top:20px" src="~/images/logotruong.png" />
                            </div>
                            <div style="width:500px">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Đăng nhập hệ thống</h1>
                                    </div>
                                    @using (Html.BeginForm("Login1", "Login", FormMethod.Post))
                                    {

                                        <div class="form-group">
                                            Tên đăng nhập
                                            @Html.TextBoxFor(a => a.UserName, null, new { @class = "form-control form-control-user" })
                                        </div>
                                        <div class="form-group">
                                            Mật khẩu
                                            @Html.PasswordFor(a => a.PassWord, new { @class = "form-control form-control-user" })
                                        </div>
                                        <div class="form-group">

                                            @Html.TextBoxFor(a => a.Access, new { @class = "form-control form-control-user", @type = "hidden", @Value = Session["ID"].ToString() })
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Đăng nhập
                                        </button>
                                     
                                    }
                                <div style="margin-top:30px">
                                    @Html.ValidationMessage("SessionLogin", "", new { @class = "text-danger" })<br />

                                </div>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
        </center>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>